body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: fixed; width: 100%; bottom: 0; margin-top: 5px; line-height: 38px; }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-webxr-link { float: left; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#entervr:enabled { float: right; width: 38px; height: 38px; background-color: #1eaed3; display: inline-block; border: 0; }
#enterar:enabled { float: right; width: 38px; height: 38px; background-color: #1eaed3; display: inline-block; border: 0; }
#entervr:disabled { float: right; width: 38px; height: 38px; background-color: #dddddd; display: inline-block; border: 0; }
#enterar:disabled { float: right; width: 38px; height: 38px; background-color: #dddddd; display: inline-block; border: 0; }

@font-face { font-family: defaultFont; src: url('ABeeZee-Regular.ttf'); } 
* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

p {
	font-family: defaultFont;
	color: #AA233C;
	font-size:24px;
}

#unity-canvas-container {
	overflow: hidden;
}

input.WebGLInput {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 1 !important;
	background: #a9233c;
	outline: 0;
	border: none;
	padding: 31px !important;
	font-size: 16px;
	color: #fff !important;
}

.warningPanel {
	background-color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	/*display: none !important;*/
	user-select: none;
	top: 0;
	left: 0;
}         
.warningContent {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
} 

.fullscreenButton {
	display:block;
	position: absolute;
	width: 50px;
	height: 50px;
	right:15px;
	top: 15px;
	user-select: none;
}

.logosPanelDiv {
position: absolute;
top: 0;
left: 0;
background-color: white;
width: 100%;
height:100%;
user-select: none;
}  

#logo{ 
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}  
	 
#RecoverFullscreenButton
{
	display: none;
} 

#ForceFullscreenButton
{
	display: none;
}

#ForceMinimizeFullscreenButton
{
	display: none;
}

.spinner,
.spinner:after {
	border-radius: 50%;
	width: 5em;
	height: 5em;
}
			
.spinner {
	background-color: grey;
	right:0px;
	bottom: 0px;
	margin: 10px;
	font-size: 10px;
	position: absolute;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	transform: translateZ(0);
	animation: spinner-spin 1.1s infinite linear;
}    

@keyframes spinner-spin {
	0% {
			transform: rotate(0deg);
	}

	100% {
			transform: rotate(360deg);
	}
}

#recoverFocusDiv
{
		display: none;
		align-items: center;
		justify-content: center;
		background-color: #32284A9e;
		position: absolute;
		width: 100%;
		height: 100%;
		top:0px;
		left:0px;
}    

#recoverFocusDiv p {
		padding: 30px;
		background: #AA233C;
		border-radius: 15px;
		color: #fff;
		display: block;
		box-sizing: border-box;
		font-size: 16px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
}

#loadingBarContainer {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 12px;
}
#loadingBar {
	height: 100%;
	width: 0%;
	background: #a9233c;
}  

#SharePanelWrapper {
            display: none;
            position:absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background-color: #372c4de0;
            z-index: 1;
            color: #fff;
            align-content: center;
            justify-content: center;
        }

        #SharePanelWrapper .panel {
            background: #AA233C;
            border-radius: 20px;
            font-size: 16px;
            padding: 20px;
            text-align: center;
            width: auto;
            margin: auto;
            position: relative;
        }

        #SharePanelWrapper .panel p {
            font-size: inherit;
            color: inherit;
            margin: auto;
            margin-bottom: 20px;
        }
        #SharePanelWrapper .panel p.url {
            background: #fff;
            color: #372C4D;
            padding: 10px 15px;
            border-radius: 20px;
            width: max-content;
            font-size: 14px;
        }

        #SharePanelWrapper button {
            cursor: pointer;
        }

        #ShareButton {
            border: none;
            background: #fff url(ShareIcon.png) 15px center no-repeat;
            border-radius: 20px;
            padding: 10px 20px;
            font-family: defaultFont;
            font-size: 16px;
            background-size: 20px;
            padding-left: 40px;
        }

        #ShareButtonClose {
            position: absolute;
            top: -11px;
            right: -7px;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            border: 3px solid #fff;
            background: #A9233C url("closeButton.png") center center no-repeat;
            color: #fff0;
            box-shadow: 2px 2px 0 #372c4d;
            background-size: 13px;
        }
